body{
  width:80%;
  margin-left: 10%;
  background-color: #DEDEDE;
}

form{
  width: 40%;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
input{
  width: 100%;
}
input,button,select{
  height: 40px;
  font-size: 12pt;
}
button{
  height: 100%;
  border-radius: 10px;
  border: 1px solid blue;
  color: #000000;
}
button:hover{
  background-color: #777777;
}
